<h1 class="text-center my-4">Weather Information</h1>

<div class="container">
  <%= form_with url: weather_path, method: :get, local: false, data: { turbo_frame: 'weather_data' } do %>
    <div class="mb-3">
      <label for="city" class="form-label">Enter City:</label>
      <%= text_field_tag :city, params[:city], placeholder: "Enter city name", class: "form-control" %>
    </div>

    <%= submit_tag "Fetch Weather", class: "btn btn-primary w-100" %>
  <% end %>

  <%= render partial: 'weather/weather_details' %>

</div>

